.input-list-wrapper {
    position: relative;
}

.input-list {
    position: relative;
    padding: 0px;
    overflow: hidden;
    font-family: sans-serif;
    border: 1px solid rgb(230,230,255);
}

/* Normally, I'd use display:inline-block here,
 * but inline-block puts a space between elements
 * and clicking between only leaves the space on 
 * one side of the input list item. It's right
 * up against the other element.
 */
.input-list li {
    display: block;
    position: relative;
    float: left;
    background: rgb(230,230,255);
    font-size: 12pt;
    line-height: 1.9em;
    text-align: center;
    height: 2em;
    list-style: none;
    margin: 0.2em;
    padding: 0 0.2em;
    border-radius: 4px;
    z-index:1;
}

.input-item.editing {
    background: rgb(230,230,0);
}

.input-field {
    width: 0.1em;
    border: 0px;
    text-align: center;
    font-size: 12pt;
    background: transparent;
    font-family: sans-serif;
    outline:none;
}

/* Styles the temporary <span> element to calculate input widths */
span.input-temp {
    position: absolute;
    left: 100vw;
    font-family: sans-serif;
}

/* Gets rid of that annoying clear button in IE 10+ */
.input-field::-ms-clear {
    display: none;
}

/* Dropdown styles */
.input-list-dropdown {
    position: absolute;
    top: calc(100% - 1em);
    left: 0px;
    width: 100%;
    padding: 0px;
    border: 1px solid rgb(230,230,255);
    background-color: #fff;
    z-index:1000;
}

.input-list-dropdown-item {
    list-style: none;
}

li.dropdown {
    list-style: none;
    z-index:1000;
    padding:3px;
}

li.dropdown.selected {
    background-color: rgb(76,158,217);
}
