<div id="lb-wrapper">
    <div class="lb-available-container">
        <div class="lb-filter-controls-container">
            <input type="text" placeholder="Filter" class="lb-filter-input" />
            <button type="button" class="lb-filter-settings">&#x2699;</button>
        </div>
        <ul class="lb-available-list"></ul>
    </div>

    <div class="lb-move-button-container">
        <div class="lb-move-button-to-selected">&#8680;</div>
        <div class="lb-move-button-to-available">&#8678;</div>
    </div>

    <div class="lb-selected-container">
        <ul class="lb-selected-list"></ul>
    </div>
</div>
