.lb-wrapper {
    display:flex;
    min-height:200px;
}

.lb-filter-controls-container {
    display: flex;
    margin: 3px 0;
}

.lb-filter-controls-container > input {
    flex: 1;
}

.lb-filter-controls-ccontainer >* {
    font-size:11pt;
}

.lb-available-container,
.lb-selected-container {
    flex: 1 1 300px; /* sizing of this container inside .lb-wrapper */
    display:flex; /* arranging of the contents inside */
    flex-direction: column;
    justify-content: flex-end;
    margin:10px;
    max-height:500px;
}

.lb-move-button-container {
    font-size: 40px;
    flex: 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:29px;
}

.lb-move-button-container > div {
    border:2px solid black;
    text-align: center;
    background-color: rgb(200,200,200);
    color: black;
}

.lb-move-button-container > div:first-child {
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid black;
}

.lb-move-button-container > div:last-child {
    border-radius: 0 0 8px 8px;
    border-top: 1px solid black;
}

.lb-available-list,
.lb-selected-list {
    margin: 0;
    padding:5px;
    border: 1px solid black;
    box-shadow: inset 0 0 2px;
    border-radius:8px;
    flex: 1 1 100%;
    list-style:none;
    overflow:auto;
}

.lb-selected-list {
    margin-top:29px;
}

.lb-available-list > li,
.lb-selected-list > li {
    background-color: rgb(240,240,240);
    margin:2px;
    padding:2px;
    border-radius: 3px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.lb-available-container > input[type="text"] {
    flex:0 0 20px;
    margin: 0 0 3px;
}

.lb-available-list > li.selected, 
.lb-selected-list > li.selected {
    background-color: rgb(0, 192, 239);
}

.lb-available-list > li.copied, 
.lb-selected-list > li.copied {
    color: rgb(200, 200, 200);
}

.lb-available-list > li.non-matching,
.lb-selected-list > li.non-matching {
    display:none;
}

.lb-filter-points {
    list-style:none;
}
